<!DOCTYPE html>
<html>

<%- include('./head.ejs') %>

    <body>
        <h1>Confirma que desea eliminar ese registro?</h1>
        <form action="/delete2/<%= item.id %>" method="post">
            <button type="submit" class="btn btn-dark">
            Confirmar
        </button>
            
        </form>

    </body>

</html>